<section class="py-5">
    <div _ngcontent-ldn-c16="" class="mb-4">
        <div class="pt-3 conatiner">
            <div class="text-center pt-4">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3 bg-black"></div><i class="fa-solid fa-star "></i>
                    <div class="line ms-3 bg-black"></div>
                </div>
            </div>

            <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ">

                <div class="form-floating mb-3">



                    <input id="userName" type="text" placeholder="userName" name="userName"
                        class="form-control border-top-0 border-start-0 border-end-0">
                    <label for="userName">userName : </label>
                </div>


               
                    <div class="form-floating mb-3">

                        
                        <input id="userAge" type="text" placeholder="userAge" name="userAge"
                        class="form-control border-top-0 border-start-0 border-end-0">
                        <label for="userAge" >userAge : </label>
                      
                    </div>



                    <div class="form-floating mb-3">

                        
                        <input id="userAge" type="email" placeholder="userEmail " name="userEmail "
                        class="form-control border-top-0 border-start-0 border-end-0">
                        <label for="userEmail" >userEmail : </label>
                      
                    </div>


                    
                    <div class="form-floating mb-3">

                        
                        <input id="userPassword" type="password" placeholder="userPassword" name="userPassword"
                        class="form-control border-top-0 border-start-0 border-end-0">
                        <label for="userPassword" >userPassword : </label>
                      
                    </div>
                    
                
                    <button
                    class="btn mt-4 text-white" > send Message
                </button>
            </form>
        </div>
    </div>


</section>