<section id="homeParent" class="mb-0">
    <div class=" d-flex justify-content-center align-items-center text-white">
        <div class="text-center">
            <img src="assets/images/avataaars.svg"             alt="" class="mb-3">
                <div  class="text-center pt-4" >
                    <h2  class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
                    <div  class="d-flex align-items-center justify-content-center ">
                        <div class="line bg-white  me-3" ></div>
                        <i
                             class="fa-solid fa-star"></i>
                        <div  class="line bg-white ms-3" ></div>
                    </div>
                </div>
       
            <div class="py-3" >Graphic Artist - Web Designer - Illustrator</div>
        </div>
    </div>

</section>